body {
    margin: 0px 60px 0px 60px;

}
.menu {
    padding: 20px;
    border-color: rgb(134, 14, 14);
    font-size: 25px;
    text-decoration: dotted;
}

.main-container{
    margin-bottom: 20px;
    text-align: center;
    background-color:rgb(134, 14, 14);
}
.refresh-container {
    text-align: center;
    padding: 20px;
    margin: 20px;

}
.refresh-btn :hover {
    border-color: black!important;
    background-color: rgb(134, 14, 14);
    padding: 4px;
    border-radius: 4px;
    border: 1px rgb(24, 5, 90) solid;
    
}
.size {
    height: 200px;
    width: 300px;
}


footer{
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color: rgb(134, 14, 14)e;
}

/* maria's css*/

#maria h1 {
    font-size: 22px;
    font-family: 'Covered By Your Grace', cursive;
}
#maria h2 {
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
     
}
#maria ul {
    text-align: left;
}

.hide {
    display: none;
  }

 #left {
    width: 400px;
    float: left;
    margin: 30px;
    border-top: solid black;
    border-bottom: solid black;
    border-left: solid black;
    border-right: solid black;
  }
 #two {
    width: 400px;
    float: left;
    margin-top: 30px;
    font-family: 'Noto Serif TC', serif;

  }
 #three {
    float:right;
    margin-top: 30px;
  }

  #maria button {
      padding: 4px;
      border-radius: 4px;
      border: 1px rgb(24, 5, 90) solid;
  }
  #maria button:visited {
   color: yellow;
    border: 1px rgb(24, 5, 90) solid;
}
  #maria #done {
    padding: 6px;
    border-radius: 6px;
    border: 2px rgb(24, 5, 90) solid;
    margin:0 10px 10px 10px;
  }
  #maria img {
      border: 5px black solid;
      /*border-radius: 15px;*/
  }


  
  
  /*this pushes henok's code below my code*/
  #henok {
      clear: both;
  }