body {
    margin: 0px;
}


.main-container{
    margin-bottom: 20px;   
    text-align: center;
    
}
.refresh-container {
    clear: both;
    text-align: center;
    padding: 20px;
    margin: 20px;

}

    
.size {
    height: 200px;
    width: 300px;
}


footer{
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    
}


#maria h1 {
    font-size: 22px;
}
#maria h2 {
    font-size: 200px;
}
#maria ul {
    text-align: left;
}

.hide {
    display: none;
  }

 #left {
    width: 400px;
    float: left;
    margin: 30px;
  }
 #two {
    width: 400px;
    float: left;
    margin-top: 30px;
  }
 #three {
   
    float:left;
    margin-top: 30px;
  }

  #maria button {
      padding: 4px;
      border-radius: 4px;
      border: 1px rgb(24, 5, 90) solid;
  }
  #maria .ingred:visited, #maria .ingred:active{
    color: yellow!important;
     border: 1px rgb(24, 5, 90) solid;
 }


  #maria #done {
    padding: 6px;
    border-radius: 6px;
    border: 2px rgb(24, 5, 90) solid;
    margin:0 10px 10px 10px;
  }
  #maria img {
      border: 5px rgb(24, 5, 90) solid;
      border-radius: 15px;
  }
  .red {
      background-color:red;
  }
  